.product {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__media {
  font-size: 70px;
}

.product__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .product {
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}