.header {
  width: 100%;
  background-color: transparent;
  height: 15vh;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 700;
  color: #000000
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu__itemLink {
  display: block;
  padding: 8px 15px;
  margin: 10px;
}

.menu__itemLink-login {
  border-radius: 5px;
  background-color: yellow;
}
