.button__auth {
  display: block;
  border: 1px solid #c7c7c7;
  padding: 10px;
  width: 80%;
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 15px;
  position: relative;
}

.button__authIcon {
  font-size: 30px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}